.toolbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.5rem;
  background: white;
  color: black;
  font-family: sans-serif;
  overflow-x: auto;
}

.toolbar-item {
  background: whitesmoke;
  border: 1px solid #333;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: grab;
  user-select: none;
  transition: 0.2s;

  &:hover {
    background: #ddd;
  }
}
