@import "../../../stylesheets/theme";

.header {
  position: relative;
  float: right;
  height: 56px;
  padding: 16px 27px;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 5;

  transition: width 300ms linear;

  .header-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 100%;

    .logo {
      h1 {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 24px;
        color: var(--text-color);
      }
    }

    .nav-right {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-left: auto;

      .notifs {
        display: flex;
        gap: 8px;
        align-items: center;
        position: relative;

        .notif-button {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 24px;
          width: 24px;
          background: none;
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-radius: 5px;
          color: #181f2e;
          font-size: 16px;
          cursor: pointer;
          transition: all 100ms ease-in-out;
          position: relative;
          box-shadow: var(--shadow);

          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
          &.highlight::after {
            content: "";
            position: absolute;
            height: 10px;
            width: 10px;
            background-color: #e11d48;
            border-radius: 50%;
            top: 0;
            right: 0;
            transform: translate(40%, -40%);
          }
        }
      }

      .account {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .signup-button {
          max-width: 200px;
          display: flex;
          overflow: hidden;
          position: relative;
          padding: 8px 16px;
          background-color: var(--accent);
          color: var(--bg-color);
          font-size: 14px;
          white-space: nowrap;
          font-weight: 600;
          text-transform: uppercase;
          cursor: pointer;
          align-items: center;
          border-radius: 5px;
          border: none;
          box-shadow: var(--shadow);
        }
      }
    }
  }
}
