.header-container {
  width: 100vw;
  height: 70px;
  padding: 30px;
  background-color: #fcfdfe;
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 5px 10px,
    rgba(0, 0, 0, 0.23) 0px 4px 4px;
  position: relatvie;
  z-index: 5;

  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .nav-list {
      list-style: none;
      display: flex;
      width: 30%;
      align-items: center;
      justify-content: space-evenly;

      .nav-item a {
        font-size: 14px;
        color: oklch(20.8% 0.042 265.755);
        text-decoration: none;
        font-weight: 500;

        &:hover {
          text-decoration: 1.5px underline currentColor;
          text-underline-offset: 2px;
        }
      }
    }
  }
}
