[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
annotated-types = "*"
anyio = "*"
asttokens = "*"
cachetools = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
colorama = "*"
comm = "*"
debugpy = "*"
decorator = "*"
dnspython = "*"
email-validator = "*"
exceptiongroup = "*"
executing = "*"
fastapi-cli = "*"
google-ai-generativelanguage = "*"
google-api-core = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-httplib2 = "*"
google-generativeai = "*"
googleapis-common-protos = "*"
grpcio = "*"
grpcio-status = "*"
h11 = "*"
httpcore = "*"
httplib2 = "*"
httptools = "*"
httpx = "*"
idna = "*"
ipykernel = "*"
ipython = "*"
jedi = "*"
jinja2 = "*"
jupyter-client = "*"
jupyter-core = "*"
markdown-it-py = "*"
markupsafe = "*"
matplotlib-inline = "*"
mdurl = "*"
nest-asyncio = "*"
packaging = "*"
parso = "*"
platformdirs = "*"
prompt-toolkit = "*"
proto-plus = "*"
protobuf = "*"
psutil = "*"
pure-eval = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pydantic = "*"
pydantic-core = "*"
pygments = "*"
pyparsing = "*"
python-dateutil = "*"
python-dotenv = "*"
python-multipart = "*"
pywin32 = "*"
pyzmq = "*"
requests = "*"
resend = "*"
rich = "*"
rich-toolkit = "*"
rsa = "*"
shellingham = "*"
six = "*"
sanic = "*"
sniffio = "*"
stack-data = "*"
starlette = "*"
tornado = "*"
tqdm = "*"
traitlets = "*"
typer = "*"
typing-extensions = "*"
uritemplate = "*"
urllib3 = "*"
uvicorn = "*"
watchfiles = "*"
wcwidth = "*"
websockets = "*"
fastapi = {extras = ["all"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
