:root {
  --bg-color: #f4f5f7;
  --text-color: #1e1e1e;
  --card-color: #ffffff;
  --accent: #6369d1;
  --success: #6fcf97;
  --warning: #f2c94c;
  --border: #e0e0e0;
}

[theme="dark"] {
  --bg-color: #121212;
  --card-color: #1e1e1e;
  --text-color: #ffffff;
  --accent: #7ed6df;
}
