@use "./theme";
@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Onest", monospace;
}
